<div class="card" style="width: 50rem" id="post">
  <div class="card-body px-0 pt-0">

    <div class="bg-dark py-2 px-2 rounded-top">
      <h5 class="card-title text-white">
        Card title
        <span class="right-container">Posted by Damneet on 2022</span>
      </h5>
    </div>

    <div class="py-2 px-2 rounded-2">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>

  </div>
</div>