<div class="card" style="width: 50rem" id="post">
  <div class="card-body px-0 pt-0">

    <div class="bg-dark py-2 px-2 rounded-top">
      <h5 class="card-title text-white">
        Login
      </h5>
    </div>

    <div class="py-2 px-2 rounded-2">
      <form>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="email" class="form-control" id="username" />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" />
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
        <button type="submit" class="btn btn-warning">Register</button>

      </form>
    </div>

  </div>
</div>